body {
  height: 100vh;
}

/* Light Theme */
.light-theme {
  background-color: #fff !important;
  color: #000000 !important;
}

.light-theme h1 {
  color: #232836;
}

/* Dark Theme */
.dark-theme {
  background-color: #1b2440 !important;
  color: #fff !important;
}

.dark-theme h1 {
  color: #dad1fd;
}

/* Additional Styles */

.topic-list {
  gap: 10px;
}
